p {
  margin: auto;
  text-align: center;
  background-color: ivory;
  width: 250px;
  font-size: 25px;
  margin-top: 0px;
  font-family: monospace;
}
body{
  margin:0;
  transition: all 1s; 
}
.border{
  width:10px;
  height:100px;
  position: fixed
}
.left{
  left: 0px
}